@import "../../../../../styles/colors";


.page-header {
    font-size: 22px;
    font-weight: 700;
    color: map-get($map: $black-color-variants, $key: 200);
}

.mb-8 {
    margin-bottom: 8px;
}

.primary-text {
    color: map-get($map: $black-color-variants, $key: 300);
}

.register-btn {
    letter-spacing: 0.9px;
}

.bold {
    font-weight: bold;
}

.label-resend {
    color: #3282b8;
}

a.disabled {
    pointer-events: none;
    cursor: default;
    color: #808080;
}

.f-13 {
    font-size: 13px;
}

.btn-wrapper {
    margin: 14px 0;
}

.recieve-otp {
    text-decoration: none;
}