<div class="container-fluid pt-15 pb-5 bg-white h-100">
  <div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
      <h5 class="section-title ff-secondary text-center text-primary fw-normal">
        Contact Us
      </h5>
      <h1 class="mb-5">Contact For Any Query</h1>
    </div>
    <div class="row g-4">
      <div class="col-12">
        <div class="row gy-4">
          <div class="col-md-4">
            <h5
              class="section-title ff-secondary fw-normal text-start text-primary"
            >
              Booking
            </h5>
            <p>
              <i class="fa fa-envelope-open text-primary me-2"></i
              >contact&#64;shaarahalaleats.com
            </p>
          </div>
          <div class="col-md-4">
            <h5
              class="section-title ff-secondary fw-normal text-start text-primary"
            >
              General
            </h5>
            <p>
              <i class="fa fa-envelope-open text-primary me-2"></i>
              info&#64;shaarahalaleats.com
            </p>
          </div>
          <div class="col-md-4">
            <h5
              class="section-title ff-secondary fw-normal text-start text-primary"
            >
              Technical
            </h5>
            <p>
              <i class="fa fa-envelope-open text-primary me-2"></i>
              support&#64;shaarahalaleats.com
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 wow fadeIn" data-wow-delay="0.1s">
        <iframe
          class="position-relative rounded w-100 h-100"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3001156.4288297426!2d-78.01371936852176!3d42.72876761954724!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4ccc4bf0f123a5a9:0xddcfc6c1de189567!2sNew%20York,%20USA!5e0!3m2!1sen!2sbd!4v1603794290143!5m2!1sen!2sbd?q=Omaha"
          frameborder="0"
          style="min-height: 350px; border: 0"
          allowfullscreen=""
          aria-hidden="false"
          tabindex="0"
        ></iframe>
      </div>
      <div class="col-md-6">
        <div class="wow fadeInUp" data-wow-delay="0.2s">
          <form [formGroup]="contactForm" (ngSubmit)="sendMessage()">
            <div class="row g-3">
              <div class="col-md-6">
                <div class="form-floating">
                  <input
                    type="text"
                    class="form-control"
                    id="name"
                    placeholder="Your Name"
                    formControlName="name"
                  />
                  <label for="name">Your Name</label>
                  <div
                    class="text-danger"
                    *ngIf="
                      contactForm.get('name')?.touched &&
                      contactForm.get('name')?.invalid
                    "
                  >
                    Name is required.
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-floating">
                  <input
                    type="email"
                    class="form-control"
                    id="email"
                    placeholder="Your Email"
                    formControlName="from"
                  />
                  <label for="email">Your Email</label>
                  <div
                    class="text-danger"
                    *ngIf="
                      contactForm.get('from')?.touched &&
                      contactForm.get('from')?.invalid
                    "
                  >
                    <span *ngIf="contactForm.get('from')?.errors?.['required']"
                      >Email is required.</span
                    >
                    <span *ngIf="contactForm.get('from')?.errors?.['email']"
                      >Please enter a valid email address.</span
                    >
                  </div>
                </div>
              </div>

              <div class="col-12">
                <div class="form-floating">
                  <input
                    type="text"
                    class="form-control"
                    id="subject"
                    placeholder="Subject"
                    formControlName="subject"
                  />
                  <label for="subject">Subject</label>
                  <div
                    class="text-danger"
                    *ngIf="
                      contactForm.get('subject')?.touched &&
                      contactForm.get('subject')?.invalid
                    "
                  >
                    Subject is required.
                  </div>
                </div>
              </div>

              <div class="col-12">
                <div class="form-floating">
                  <textarea
                    class="form-control"
                    placeholder="Leave a message here"
                    id="message"
                    style="height: 150px"
                    formControlName="message"
                  ></textarea>
                  <label for="message">Message</label>
                  <div
                    class="text-danger"
                    *ngIf="
                      contactForm.get('message')?.touched &&
                      contactForm.get('message')?.invalid
                    "
                  >
                    Message is required.
                  </div>
                </div>
              </div>

              <div class="col-12">
                <button class="btn btn-primary w-100 py-3" type="submit">
                  Send Message
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Contact End -->
