<div class="container-xxl py-5">
  <div class="container">
    <div class="row g-5 align-items-center">
      <div class="col-lg-6">
        <div class="img-box">
          <img src="../../../../../assets/images/about-img.jpg" alt="" />
        </div>
      </div>
      <div class="col-lg-6">
        <h5
          class="section-title ff-secondary text-start text-primary fw-normal"
        >
          About Us
        </h5>
        <h2 class="mb-4">
          Welcome to <i class="fa fa-utensils text-primary me-2"></i>Shaara
          Halal Eats
        </h2>
        <p class="mb-4">
          We’re not your average food truck — we’re a mobile kitchen dedicated
          to bringing bold, mouthwatering flavors straight to your neighborhood.
          Our mission is simple: to serve fresh, high-quality meals that delight
          your taste buds and brighten your day.
        </p>
        <p class="mb-4">
          At <span class="text-primary fs-6 fw-bold">Shaara Halal Eats</span>,
          we believe food has the power to create connections. Whether it’s a
          quick lunch, a family outing, or a late-night snack, we’re here to
          make every meal special. Thank you for letting us be part of your
          culinary journey. Follow our adventures on social media or check out
          our schedule to find out where we’ll be next. We can’t wait to serve
          you!
        </p>

        <a class="btn btn-primary py-3 px-5 mt-2 read-btn" href="">Read More</a>
      </div>
    </div>
  </div>
</div>
