<div class="container-fluid pt-15 custom-bg-image h-100">
  <div class="container">
    <div class="row g-5 align-items-center">
      <div class="col-lg-6">
        <h5 class="section-title ff-secondary text-start text-white fw-normal">
          About Us
        </h5>
        <h2 class="mb-4 text-primary">
          Welcome to <i class="fa fa-utensils text-primary me-2"></i>Shaara Halal
          Eats
        </h2>
        <p class="mb-4 sub-quote text-white">
          We're in the business of creating memorable moments. Every dish, every
          drink, every interaction is designed with you in mind. We believe in
          crafting experiences that leave you wanting more. Come taste the
          passion and discover your new favorite.
        </p>
        <p class="mb-4 sub-quote text-white">
          At <span class="text-primary fs-6 fw-bold">Shaara Halal Eats</span>,
          we believe food has the power to create connections. Whether it’s a
          quick lunch, a family outing, or a late-night snack, we’re here to
          make every meal special. Follow our adventures on social media or check out
          our schedule to find out where we’ll be next. We can’t wait to serve
          you!
        </p>

        <!-- <a class="btn btn-primary py-3 px-5 mt-2 read-btn" href="">Read More</a> -->
      </div>

      <div class="col-lg-6"></div>
    </div>
  </div>
</div>
