<div class="container-fluid p-0" id="container">
  <div class="header lafka-has-header-top" id="header">
    <div id="header_top" class="fixed">
      <div class="inner">
        <!-- left menu  -->
        <div
          id="lafka-top-right-menu-container"
          class="menu-top-menu-right-container"
        >
          <ul id="lafka-top-right-menu" class="lafka-top-menu">
            <li
              id="menu-item-207"
              class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-207"
            >
              <a
                routerLink="link.route"
                [routerLinkActive]="['is-active']"
                [routerLinkActiveOptions]="{ exact: false }"
                #rla="routerLinkActive"
                >Order Online</a
              >
            </li>
            <li
              id="menu-item-214"
              class="menu-item menu-item-type-post_type menu-item-object-page menu-item-214"
            >
              <a
                routerLink="/catering"
                [routerLinkActive]="['is-active']"
                [routerLinkActiveOptions]="{ exact: false }"
                #rla="routerLinkActive"
                >Catering</a
              >
            </li>

            <li
              id="menu-item-206"
              class="menu-item menu-item-type-post_type menu-item-object-page menu-item-206"
            >
              <a
                routerLink="/contact"
                [routerLinkActive]="['is-active']"
                [routerLinkActiveOptions]="{ exact: false }"
                #rla="routerLinkActive"
                >Contact</a
              >
            </li>
          </ul>
        </div>

        <!-- <div id="logo">
          <div class="custom-shape">
            <img
              src="../../../../../assets/images/Shaara-Logo.png"
              alt="Logo"
            />
          </div>
        </div> -->

        <div id="logo">
          <a
            href="https://lafka.althemist.com/fastfood/"
            title="Lafka"
            rel="home"
          >
            <img
              width="220"
              height="220"
              src="assets/images/Shaara-Logo.png"
              class="persistent_logo"
              alt=""
              decoding="async"
              sizes="(max-width: 220px) 100vw, 220px"
            /><img
              width="220"
              height="220"
              src="assets/images/Shaara-Logo.png"
              class="lafka_mobile_logo"
              alt=""
              decoding="async"
              sizes="(max-width: 220px) 100vw, 220px"
            />
          </a>
        </div>

        <div
          id="lafka-top-left-menu-container"
          class="menu-top-menu-left-container"
        >
          <ul id="lafka-top-left-menu" class="lafka-top-menu">
            <li
              id="menu-item-5817"
              class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-4867 current_page_item menu-item-has-children menu-item-5817"
            >
              <a
                routerLink="/home"
                [routerLinkActive]="['is-active']"
                [routerLinkActiveOptions]="{ exact: false }"
                #rla="routerLinkActive"
                >Home</a
              >
            </li>
            <li
              id="menu-item-202"
              class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-202"
            >
              <a
                routerLink="/about"
                [routerLinkActive]="['is-active']"
                [routerLinkActiveOptions]="{ exact: false }"
                #rla="routerLinkActive"
                >About Shaara</a
              >
            </li>

            <li
              id="menu-item-203"
              class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-203"
            >
              <a
                routerLink="/menu"
                [routerLinkActive]="['is-active']"
                [routerLinkActiveOptions]="{ exact: false }"
                #rla="routerLinkActive"
                >Our Menu</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- 2nd level  -->
    <div class="inner main_menu_holder fixed has-main-menu">
      <!--  web view  -->
      <div class="lafka-top-bar-message">
        <span class="lafka-top-bar-message-text">
          Order Online or Call Now:
        </span>
        <span class="lafka-top-bar-phone">
          <a href="tel:+14023022502"> +1 (402)-302-2502 </a>
        </span>
      </div>

      <!-- menu icon  -->
      <a class="mob-menu-toggle" (click)="toggleNavbar()">
        <img
          src="../../../../../assets/svg-icons/menu.svg"
          alt=""
          class="svg-icon-sm"
        />
      </a>

      <nav
        class="navbar navbar-expand-lg navbar-light bg-light"
        id="menu_mobile"
        [ngClass]="{ show: !isCollapsed }"
      >
        <div class="container-fluid">
          <div
            class="collapse navbar-collapse"
            [ngClass]="{ show: !isCollapsed }"
          >
            <div class="header mb-3">
              <h3 class="text-primary">Shaara Halal Eats</h3>
            </div>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0" id="menu_mobile_list">
              <li class="nav-item" (click)="toggleNavbar()">
                <a
                  routerLink="/home"
                  [routerLinkActive]="['is-active']"
                  [routerLinkActiveOptions]="{ exact: false }"
                  #rla="routerLinkActive"
                  >Home</a
                >
              </li>
              <li class="nav-item" (click)="toggleNavbar()">
                <a
                  routerLink="/about"
                  [routerLinkActive]="['is-active']"
                  [routerLinkActiveOptions]="{ exact: false }"
                  #rla="routerLinkActive"
                  >About Shaara</a
                >
              </li>
              <li class="nav-item" (click)="toggleNavbar()">
                <a
                  routerLink="/menu"
                  [routerLinkActive]="['is-active']"
                  [routerLinkActiveOptions]="{ exact: false }"
                  #rla="routerLinkActive"
                  >Our Menu</a
                >
              </li>
              <li class="nav-item" (click)="toggleNavbar()">
                <a
                  routerLink="link.route"
                  [routerLinkActive]="['is-active']"
                  [routerLinkActiveOptions]="{ exact: false }"
                  #rla="routerLinkActive"
                  >Order Online</a
                >
              </li>

              <li class="nav-item" (click)="toggleNavbar()">
                <a
                  routerLink="/catering"
                  [routerLinkActive]="['is-active']"
                  [routerLinkActiveOptions]="{ exact: false }"
                  #rla="routerLinkActive"
                  >Catering</a
                >
              </li>

              <li class="nav-item" (click)="toggleNavbar()">
                <a
                  routerLink="/contact"
                  [routerLinkActive]="['is-active']"
                  [routerLinkActiveOptions]="{ exact: false }"
                  #rla="routerLinkActive"
                  >Contact</a
                >
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <div class="lafka-search-cart-holder">
        <div id="lafka-account-holder">
          <a href="">
            <img src="assets/svg-icons/user.svg" alt="" class="svg-icon-sm" />
          </a>
        </div>
        <div id="lafka-wishlist-counter">
          <a href="" title="Favorites">
            <img src="assets/svg-icons/heart.svg" alt="" class="svg-icon-sm" />
          </a>
        </div>
        <div id="lafka-cart">
          <a href="" title="Favorites">
            <img
              src="assets/svg-icons/shopping-cart.svg"
              alt=""
              class="svg-icon-sm"
            />
          </a>
        </div>
        <div id="lafka-search-trigger" class="lafka-search-trigger">
          <a href="" title="Favorites">
            <img src="assets/svg-icons/search.svg" alt="" class="svg-icon-sm" />
          </a>
        </div>
      </div>
      <!-- cart icons  -->

      <div id="main-menu" class="menu-main-menu-container" style="">
        <ul id="main_nav" class="menu">
          <li
            id="menu-item-2014"
            class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-has-children menu-item-2014 lafka-link-has-icon dropdown has-mega"
          >
            <a
              href="https://lafka.althemist.com/fastfood/product-category/pizza/"
            >
              <img src="../../../../../assets/images/menu/salad.svg" alt="" />
              Salads
            </a>
          </li>
          <li
            id="menu-item-3978"
            class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-has-children menu-item-3978 lafka-link-has-icon dropdown has-mega"
          >
            <a
              href="https://lafka.althemist.com/fastfood/product-category/burgers/"
            >
              <img src="../../../../../assets/images/menu/biryani.svg" alt="" />
              Biryani
            </a>
          </li>
          <li
            id="menu-item-2015"
            class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-has-children menu-item-2015 lafka-link-has-icon dropdown"
          >
            <a
              href="https://lafka.althemist.com/fastfood/product-category/sandwiches/"
            >
              <img
                src="../../../../../assets/images/menu/sandwiches.svg"
                alt=""
              />
              Sandwiches
              <span
                class="lafka-custom-menu-label"
                style="
                  background-color: #f77c32;
                  position: absolute;
                  padding: 0 5px;
                  color: #fff !important;
                  top: 50%;
                  right: 0;
                  display: block;
                  font-size: 10px;
                  line-height: 1;
                  font-weight: 700;
                  line-height: 24px;
                  white-space: nowrap;
                  height: 24px;
                  z-index: -1;
                  border-radius: 3px;
                  vertical-align: middle;
                  -webkit-transform: rotate(-12deg);
                  transform: rotate(-12deg);
                  -webkit-transition: all 0.3sease 0s;
                  transition: all 0.3sease 0s;
                "
                >&amp; WRAPS</span
              ></a
            >
          </li>
          <li
            id="menu-item-2016"
            class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-2016 lafka-link-has-icon"
          >
            <a
              href="https://lafka.althemist.com/fastfood/product-category/sides/"
            >
              <img
                src="../../../../../assets/images/menu/french-fries.svg"
                alt=""
              />
              Sides</a
            >
          </li>

          <li
            id="menu-item-2017"
            class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-2017 lafka-link-has-icon"
          >
            <a
              href="https://lafka.althemist.com/fastfood/product-category/drinks/"
            >
              <img src="../../../../../assets/images/menu/drinks.svg" alt="" />
              Drinks</a
            >
          </li>
          <li
            id="menu-item-2018"
            class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-2018 lafka-link-has-icon"
          >
            <a
              href="https://lafka.althemist.com/fastfood/product-category/desserts/"
            >
              <img
                src="../../../../../assets/images/menu/ice-cream.svg"
                alt=""
              />
              Desserts</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="content-wrapper">
    <router-outlet></router-outlet>
  </div>

  <div id="footer">
    <app-footer></app-footer>
  </div>
</div>
