<div class="main-wrapper">
  <div class="container-fluid pt-15 custom-bg-image h-100">
    <div class="container">
      <div class="row g-5 align-items-center">
        <div class="col-lg-8 col-sm-12 col-md-12">
          <h2
            class="section-title ff-secondary text-start text-white fw-normal"
          >
            Catering
          </h2>
          <!-- <h2 class="mb-4 text-primary">
          Welcome to <i class="fa fa-utensils text-primary me-2"></i>Shaara
          Halal Eats
        </h2> -->
          <p class="mb-4 sub-quote text-white">
            Elevate your next event with delicious catering from
            <span class="text-primary fw-bold">Shaara Halal Eats</span>. From
            intimate gatherings to grand celebrations, we'll create a menu that
            delights your guests and fits your budget. Contact us today for a
            personalized quote!
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="what-we-offer col-lg-12 col-sm-12 col-md-12">
    <div class="col-inner">
      <div class="col-header mb-4">
        <h2 class="text-black text-uppercase text-center">What we offer</h2>
      </div>

      <div class="col-body">
        <div class="row">
          <div class="col-lg-4 col-sm-12 col-md-4 mb-4">
            <div class="custom-card p-3">
              <div class="card-icon mb-3">
                <img
                  src="../../../../../assets/images/food-truck.png"
                  alt="food-truck"
                />
              </div>
              <div class="card-content">
                <h5 class="mb-3">Food Truck On-site</h5>
                <p>
                  Our food truck is a mobile kitchen that can be parked at your
                  event location. We offer a variety of food options, including
                  halal food, vegetarian food, and vegan food.
                </p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-sm-12 col-md-4 mb-4">
            <div class="custom-card p-3">
              <div class="card-icon mb-3">
                <img
                  src="../../../../../assets/images/food-truck.png"
                  alt="food-truck"
                />
              </div>
              <div class="card-content">
                <h5 class="mb-3">Food Catering</h5>
                <p>
                  Our food truck is a mobile kitchen that can be parked at your
                  event location. We offer a variety of food options, including
                  halal food, vegetarian food, and vegan food.
                </p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-sm-12 col-md-4 mb-4">
            <div class="custom-card p-3">
              <div class="card-icon mb-3">
                <img
                  src="../../../../../assets/images/food-truck.png"
                  alt="food-truck"
                />
              </div>
              <div class="card-content">
                <h5 class="mb-3">Business Parties</h5>
                <p>
                  Our food truck is a mobile kitchen that can be parked at your
                  event location. We offer a variety of food options, including
                  halal food, vegetarian food, and vegan food.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-4 col-sm-12 col-md-4 mb-4">
            <div class="custom-card p-3">
              <div class="card-icon mb-3">
                <img
                  src="../../../../../assets/images/food-truck.png"
                  alt="food-truck"
                />
              </div>
              <div class="card-content">
                <h5 class="mb-3">Party Catering</h5>
                <p>
                  Our food truck is a mobile kitchen that can be parked at your
                  event location. We offer a variety of food options, including
                  halal food, vegetarian food, and vegan food.
                </p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-sm-12 col-md-4 mb-4">
            <div class="custom-card p-3">
              <div class="card-icon mb-3">
                <img
                  src="../../../../../assets/images/food-truck.png"
                  alt="food-truck"
                />
              </div>
              <div class="card-content">
                <h5 class="mb-3">Custom Menus</h5>
                <p>
                  Our food truck is a mobile kitchen that can be parked at your
                  event location. We offer a variety of food options, including
                  halal food, vegetarian food, and vegan food.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
