.custom-black {
    color: #0F172B !important;
    line-height: 1.2;
}

.card {
    border-radius: 15px;
    height: 380px;
    background: #fff;
}

.card-img-top {
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 225px;
    border-radius: 8px;
    padding: 25px;
}

.card-body {
    overflow: hidden;
    padding: 25px;
}

.add-btn {
    width: 106px;
    height: 35px;
}

.pt-15 {
    padding-top: 15rem;
}

.custom-bg-image {
    background-image: url("../../../../../assets/images/menu-bg.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.custom-menu-nav {
    background-color: var(--primary);
    margin: 0 auto;
    padding: 0;
    border-radius: 8px;
    height: 60px;
    width: 100%;
    align-items: center;

    >li {
        >a {
            color: #61443e;
            font-size: 15px;
            font-weight: 600;
            font-style: normal;
        }

        .active {
            color: #000;
        }
    }
}

// web view 
@media only screen and (max-width: 1279px) {
    .custom-bg-image {
        padding-bottom: 10rem;
    }
}

// mobile view
@media only screen and (max-width: 768px) {
    .custom-bg-image {
        padding-bottom: 0rem !important;
    }
}

.description-text {
    margin: 0;
    font-size: 14px;
    color: #888;
    text-align: center;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.price_hold {
    clear: both;
    font-size: 16px;
    font-weight: 700;
    position: absolute;
    top: 18px;
    left: 18px;
    padding: 9px 8px;
    border-radius: 4px;
    z-index: 5;
    color: #ffffff;
    background-color: #4d2c21;
}