// .text-primary {
//     color: #FEA116 !important;
// }

.custom-black {
    color: #0F172B !important;
    line-height: 1.2;
}

.card {
    border-radius: 15px;
    max-height: 380px;
}

.card-img-top {
    background: #f1f2f3;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 215px;
    border-radius: 0 0 0 45px;
    margin: -1px;
    padding: 25px;
}

.card-body {
    overflow: hidden;
    padding: 25px;
}

.add-btn {
    width: 106px;
    height: 35px;
}

.pt-15 {
    padding-top: 15rem;
}

.custom-bg-image {
    background-image: url("../../../../../assets/images/menu-bg.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.custom-menu-nav {
    background-color: var(--primary);
    margin: 0 auto;
    padding: 0;
    border-radius: 8px;
    height: 60px;
    width: 100%;
    align-items: center;

    >li {
        >a {
            color: #61443e;
            font-size: 15px;
            font-weight: 600;
            font-style: normal;
        }

        .active{
            color: #000;
        }
    }
}

// web view 
@media only screen and (max-width: 1279px) {
    .custom-bg-image {
        padding-bottom: 10rem;
    }
}

// mobile view
@media only screen and (max-width: 768px) {
    .custom-bg-image {
        padding-bottom: 0rem !important;
    }
}