.otp {
    margin-right: 5px;
    margin-bottom: 25px;
    outline: none;
    border: none;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    width: 30px;
    height: 30px;
    // border-radius: 17px;
    border: solid 1px #003399;
}

.otp-input-box {
    display: flex;
    justify-content: center;
}